body {
    color: white;
    background-color: #1D1C1C;
    font-family: Consolas,monaco,monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.event {
  color: white;
}

.error {
  color: #F5597B;
}

.link {
  color: #F1E640;
}

.transport {
  color: #34EA34;
}

.app-hex {
  color: #42A5F1;
}

.app-header {
  color: #42A5F1;
}

.app-object-header {
  color: #94D4E0;
}

.indent1 {
  padding-left: 20px;
}

.indent2 {
  padding-left: 40px;
}

.indent3 {
  padding-left: 60px;
}

.indent4 {
  padding-left: 80px;
}

.indent5 {
  padding-left: 100px;
}

.outer {
  margin: 0 auto;
}

